*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom right, rgb(0, 45, 180) , rgb(115, 0, 203));
  /* background: rgb(0, 45, 180); */
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}